[Desktop Entry]
Name=Demli Tavla
Comment=Geleneksel Tavla Oyunu
Exec=python3 /usr/share/demlitavla/tavla.py
Icon=tavlaicon
Terminal=false
Type=Application
Categories=Game;BoardGame;
Keywords=tavla;backgammon;game;demli;
StartupNotify=true
